<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Büros</title>
</head>

<body>
<h2>Büros</h2>

<h3>New</h3>
<div>
    <form th:action="@{'/ui/bueros'}"
          th:object="${bueroTemplate}"
          method="POST"
          enctype="multipart/form-data"
          action="#">
        <div>
            <label>name</label>
            <input id="Name" type="text" th:field="*{name}"
                   placeholder="Enter Name"/>
        </div>
        <div>
            <label>Raumnummer</label>
            <input id="roomNumber" type="text" th:field="*{raumnummer}"/>
        </div>
        <div>
            <label>Kapazität</label>
            <input id="Kapazität" type="number" th:field="*{kapazitaet}"/>
        </div>
        <!-- TODO: fehlende Attribute ergänzen -->
        <input type="submit" width="60" class="btn" value="save"/>
    </form>
</div>

<h3>List</h3>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Raumnummer</td>
        <td>Kapazität</td>
        <td>Höhe</td>
        <td>Fläche</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="b: ${bueros}" th:value="${b}">
        <td>
            <span th:text="${b.id}"></span>
        </td>
        <td>
            <a th:href="@{'/ui/bueros/' + ${b.id}}">
                <span th:text="${b.name}"></span>
            </a>
        </td>
        <td>
            <span th:text="${b.raumnummer}"></span>
        </td>
        <td>
            <span th:text="${b.kapazitaet}"></span>
        </td>
        <td>
            <span th:text="${b.hoehe}"></span>
        </td>
        <td>
            <span th:text="${b.flaeche}"></span>
        </td>
        </a>
    </tr>
    </tbody>


</table>
</body>